@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "logo";
  src: url(../../public/fonts/logo.ttf);
}

@font-face {
  font-family: "head";
  src: url(../../public/fonts/head.otf);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
}

.fade-in {
  opacity: 0; /* Initially transparent */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

.fade-in.loaded {
  opacity: 1; /* Faded in */
}